body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  font-weight: 400;
}
a {
  text-decoration: none;
}
.button {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  padding: 20px 40px;
  line-height: 18px;
}
.show {
  text-transform: uppercase;
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.price {
  text-transform: uppercase;
  background-color: #fb565a;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}
.sites-order {
  background-color: #fb565a;
}
.apps-order {
  background-color: #00ca74;
}
.presentations-order {
  background-color: #efc84a;
}
.sites-order:hover,
.sites-order:focus {
  background-color: #e74246;
}
.apps-order:hover,
.apps-order:focus {
  background-color: #00bc6c;
}
.presentations-order:hover,
.presentations-order:focus {
  background-color: #eab534;
}
.sites-order:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}
.apps-order:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}
.presentations-order:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}
.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}
.main-header-logo:active {
  opacity: 0.3;
}
.site-navigation,
.cart-link {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  list-style: none;
  font-size: 16px;
  line-height: 30px;
}
.site-navigation a,
.cart-link a {
  color: #000000;
}
.cart-link:before {
  content: "";
  background-image: url(img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 15px;
  height: 11px;
  top: 20px;
  left: 20px;
}
.site-navigation a:hover,
.site-navigation a:focus,
.cart-link a:hover,
.cart-link a:focus {
  color: #fb565a;
}
.site-navigation a:active,
.cart-link a:active {
  color: rgba(0, 0, 0, 0.3);
}
.price:hover,
.price:focus {
  background-color: #e74246;
}
.price:active {
  background-color: #d7373b;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset (100%);
  clip: rect (0 0 0 0);
  overflow: hidden;
}
.services h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
.social {
  list-style: none;
  font-size: 0;
  display: flex;
  justify-content: space-between;
  width: 180px;
}
.social-item {
  background-color: #e1e1e1;
  border-radius: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.vk {
  background-image: url("../img/vk-icon.png");
}
.fb {

 }
.insta {

}
.copyright h3 {
  color: #000000;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}
.copyright p {
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.page-title {
  color: #000000;
  font-weight: 600;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}
fielset legend {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.filter-option {
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}
.catalog-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.about-us h4 {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.catalog-list p {
  color: #666666;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

/* CSS флексов*/

.main-header-logo {
width: 160px;
}
.main-navigation {
  padding: 50px 0 0 0;
  margin: 0;
  display: flex;
  background-color: #eeeeee;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.site-navigation {
  padding: 20px 0 0 0;
  margin: 0;
  width: 440px;
  display: flex;
  justify-content: space-between;
}
.user-navigation {
  padding: 20px 0 0 0;
  margin: 0;
  width: 80px;
}
.site-navigation-wrapper {
  width: 100%;
  background-color: #eeeeee;
}
.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}
.service-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.service-list-item {
  width: 300px;
}
.services {
  padding-bottom: 81px;
}
.services-description {
padding-bottom: 37px;
}
.footer-wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  fleх-directon: column;
}
.footer-social {
  padding: 0;
  margin: 0;
  width: ;
}
.footer-copyright {
  padding: 0;
  margin: 0;
  width: ;
}
.social-wrapper {
  padding-right: 140px;
}
.site-navigation {
  padding: 20px 0 0 0;
  margin: 0;
  width: 440px;
  display: flex;
  justify-content: space-between;
}
.main-header {
  margin: 0;
  background-color: #eeeeee;
  padding: 0 0 117px 0 ;
}
.columns {
  display: flex;
  justify-content: space-between;
}
.catalog {
  width: 760px;
}
.catalog-item {
  width: 360px;
  margin-bottom: 33px;
  margin-right: 40px;
}
.catalog-item:nth-child(2n) {
  margin-right: 0;
}
img {
 max-width: 100%;
  height: auto;
}
.cart-link {
  padding-left: 50px:
position: relative;
}
.footer-bottom {
 display: flex;
  justify-content: flex-start;
}
.catalog-container {
  display: flex;
  justify-content: space-between;
}
